<table border="1" *ngIf="products$ | async as products">
        <tr>
          <th>UserId</th><th>Completed</th><th>Title</th>
        </tr>
        <tr *ngFor="let product of products; let i=index">
          <td>{{product.id}}</td>  
          <td>{{product.completed}}</td>
          <td>{{product.title}}</td>
          <td><i class="material-icons" (click)="deleteItem(i)">delete</i></td>    
          <td><button (click)="viewDetails(product)" data-toggle="modal" data-target=#myModal>View</button>
          </td>
        </tr> 
      </table>

  <div class="modal" id="myModal" [ngClass]="{'show':showModal}">
    <div class="modal-dialog">
      <div class="modal-content">   
        <div class="modal-header">
          <h4 class="modal-title">User Details</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="showModal=false">&times;</button>
        </div>

        <div class="modal-body">

          <form [formGroup]="productForm">
              <label for="name">Title</label>
              <input type="text" ngModel name="name" id="name" class="form-control" formControlName="productName">
            
            <label for="name">Completed:</label>
            <input type="text" ngModel name="completed" id="completed" class="form-control"formControlName="productCompleted">
          </form>
        </div>
  
      
        <div class="modal-footer">
          <button type="button"  class="btn btn-success" (click)="updateDetails()" data-dismiss="modal">Update</button>
          <button type="button"  class="btn btn-danger" (click)="showModal=false" data-dismiss="modal">Cancel</button>
        </div>
  
      </div>
    </div>
  </div>

  